
.orderedlist {
    text-align: left;
    list-style-type: decimal;
    margin-top: 0em;
}

.title {
    text-align: center;
    font-weight: bold;
}

.inbutton{
    text-align: left;
    float: center;
}

.domcontainer{
    text-align: center; 
}

.domcontent{
    display: inline-block;
    border: 2;    
    width: 200px;
    height:180px;
    color: #442F74;
    border-style:solid;
    border-color:#442F74;
    padding: 1em;
}