.Svgimg {
    width: 15vmax;
    height: 15vmax;
    text-align: center; 
  }

  .icon {
    /* filter: invert(1);
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    fill: violet; */
    opacity: 1;
  }

  .dragon {
    fill: violet;
    background-color: teal;
  }

  .spin-clk {
    animation: spin-c infinite 30s linear;
  }

  .spin-cnclk {
    animation: spin-cn infinite 10s linear;
  }

  .Svgimg:hover {
    border-width: 2px;
    border-style: dashed;
    border-color: yellow;
  }

  @keyframes spin-c {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-cn {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: blue;
  }

  .purple {
    background-color: purple;
  }