/***********************************************************************
 *  Body
 **********************************************************************/
body {
    margin: 0 auto;
    font-family: Arial;
}

/***********************************************************************
 *  Header
 **********************************************************************/
 header {
    text-align: center;
    background-color: #444;
}

h1 {
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

ul {
    list-style: none;
}    

li {
    padding: 5px;
    text-align: right;    
}

/***********************************************************************
 *  Footer
 **********************************************************************/
 footer {
    text-align: center;
    background-color: #444;
}


/***********************************************************************
 *  Account Specific settings
 **********************************************************************/

.acct {
	flex-wrap: wrap;
	display: flex;
    justify-content: center;    
    margin: 5% 30%;

    /* background-image: url("./images/bank.png"); */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-color: rosybrown;
}

.acctpanel{
    display: flex;
    justify-content: center;
    padding: 0.5% 0%;
    /* margin: 0px 30%;
    width: 70vw; */
    width: 100vw;
    height: auto;        
}

.accctmsg{
    font-size: 2em;
}

.acctbtn {
    padding: 5px;
    margin: 1px;
    width: 20%;
    height: 100%;
    border-radius: 0.5em;
    background-color: silver;
    transition: all 0.3s linear;
}

.acctbtn:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    border-style: solid;
    border-color: red;
}

.acctlabel {
    text-align: center;
    width: 20%;
    height: 100%;
    padding: 0.5em 0em;    
} 

.acctinput{
    width: 40%;
    height: 60%;
    text-align: left;
    padding: 0.5em 0em;
    border-radius: 0.5em;
}

.acctinput:hover{
    border-style: solid;
    border-color: red;
}

.accctdisplay{
    margin: 0%;
    padding: 0.5em;
    width: 60%;
    font-size: 1em;
    color: black;
    background-color: green;
    border-style: solid;
}

.accctmsg{
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 950px) {
    
    h1 {
        font-size: 2em;
    }    

    .acctbtn {
        font-size: 0.5em;
    }

    .acctlabel {
        font-size: 0.7em;
    }    

    .acctinput{
        font-size: 0.7em;
    }

    .accctdisplay{
        font-size: 0.7em;
    }
    
    .accctmsg{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 1.5em;
    }    

    .acctbtn {
        font-size: 0.4em;
    }

    .acctlabel {
        text-align: center;
        font-size: 0.5em;
    }    

    .acctinput{
        font-size: 0.5em;
    }    

    .accctdisplay{
        font-size: 0.5em;
    }    

    .accctmsg{
        font-size: 1em;
    }    
}