/***********************************************************************
 *  Main Controller
 **********************************************************************/
 .CardApp {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

 .container {    
    height: 50vmin; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(2.5vw + 2.5vh) 0vw 0vh 0vw;
    padding-bottom: calc(2.5vw + 2.5vh);
    width: 100%;                
}

.panel{
    display: grid;
    grid-template-columns: minmax(calc(25vw + 25vh), 1fr);
    grid-template-rows: 5vh;
    justify-content: center;
    justify-items: center;    
    padding: calc(0.25vw + 0.25vh) 0vw;
    width: 50vw;
    height: calc(20vmin + 10vh);
    font-size: calc(1vw + 1vh);
}

.panel > label {
    height: max-content;
}

.panel > ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: calc(0.5vw + 0.5vh);
}

.subpanel{
    display: grid;
    grid-template-columns: calc(7.5vw + 7.5vh) calc(7.5vw + 7.5vh) calc(7.5vw + 7.5vh);
    grid-template-rows: calc(1.5vw + 1.5vh) calc(1.5vw + 1.5vh) calc(1.5vw + 1.5vh) calc(1.5vw + 1.5vh);
    grid-template-areas: "b1 b2 b3"
                         "b4 b5 b6"                       
                         "p2 i1 i1"
                         "b7 b8 b9";
    justify-content: center;    
    align-items: center;   
    height: auto;     
    text-align: center;
}

.spbtn1 {grid-area: b1;}
.spbtn2 {grid-area: b2;}
.spbtn3 {grid-area: b3;}
.spbtn4 {grid-area: b4;}
.spbtn5 {grid-area: b5;}
.spbtn6 {grid-area: b6;}
.spp1 {grid-area: p2;}
.inbtn1 {grid-area: i1;}
.spbtn7 {grid-area: b7;}
.spbtn8 {grid-area: b8;}
.spbtn9 {grid-area: b9;}

.subpanel > button {
    width: auto;
    margin: calc(0.25vw + 0.25vh);
    font-size: calc(0.6vw + 0.6vh);
    border-radius: 0.5vw;
    background-color: silver;
    transition: all 0.3s linear;
}

.subpanel > p {
    text-align: center;
    font-size: calc(0.75vw + 0.75vh);
}

.subpanel > input {
    width: auto;
    height: calc(0.65vw + 0.65vh);
    font-size: calc(0.65vw + 0.65vh);
    border-radius: 0.5vw;
    padding-left: calc(0.25vw + 0.25vh);
    margin: calc(0.4vw + 0.4vh);   
}

.subpanel > button:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    border-style: solid;
    border-color: red;
}

.subpanel > input:hover{
    border-style: solid;
    border-color: red;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 0.5vw;
    height: min-content;
    margin-bottom: calc(10vw + 30vh);
    overflow-y: visible;
}

.box {
    background-color: #444;
    padding: 1vw;
    margin: 2vw 1vw 2vw 1vw;
    font-size: 1.5vw;
    text-align: center;
}

.box:hover{
    border-style: solid;
    border-color: red;
}

.box > ul {
    list-style: none;
    padding: 0px;
}

/***********************************************************************
 *  Green Background
 **********************************************************************/
 .green {
    background: #56B870; /* Old browsers */
    background: linear-gradient(to bottom, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
 .yellow {
    background: #F3AAAA; /* Old browsers */
    background: linear-gradient(to bottom, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Highlighted text
 **********************************************************************/
 .highlight{
    color: purple;
    font-style: italic;
    text-decoration: underline;
}