.game {
  display: flex;
  flex-direction: row;               
  justify-content: center;
  align-items: center;
  justify-content: center;

  padding: 0% 0 0 0;
  width: 100%;
  min-height: 100vh;
  background-color: #282c34;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 8vmin;
  font-weight: bold;
  /* line-height: 34px; */
  width: 10vmin;
  height: 10vmin;
  margin-right: -1px;
  margin-top: -1px;  
  padding: 0;
  text-align: center;  
  color: #61dafb;
  border-color: #61dafb;
  background-color: #344f85;  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(10vw, auto));
  grid-template-rows: 4vw 8vw;
  grid-template-areas: "option ."
                       "board info";                
  justify-content: center;
  padding-bottom: 30vh;
}

.game-option {  
  grid-area: option;    
  font-size: 1vw; 
}

.game-board {
  grid-area: board;
  padding-top: 2vw;
  padding-right: 2vw;  
}

.game-info {
  color: #61dafb;
  grid-area: info;
  justify-self: start;
  font-size: 1vw;
}

.game-info > ol {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.game-ctl {
  background-color: #344f85;
  margin: 0.1vw;
  border-radius: 0.1vw;
  font-size: 1vw;
  color: #61dafb;
}